<center><h2>GLIB CONTROL REGISTER</h2></center>
<form action="/glib" method="post">{% csrf_token %}
<br>Register choice
<select id="id_addresse" name="addresse" onChange="combo(this, 'id_addresse')">
<option>
REG
</option>
<option>
REG2.subreg
</option>
<option>
board_id
</option>
<option>
ctrl_sram
</option>
<option>
ctrl_sram.flash_select
</option>
<option>
ctrl_sram.sram1_bist_run
</option>
<option>
ctrl_sram.sram1_user_logic
</option>
<option>
ctrl_sram.sram2_bist_run
</option>
<option>
ctrl_sram.sram2_user_logic
</option>
<option>
firm_id
</option>
<option>
firm_id.firmware_dd
</option>
<option>
firm_id.firmware_mm
</option>
<option>
firm_id.firmware_ver
</option>
<option>
firm_id.firmware_yy
</option>
<option>
freq_ttc_fmc
</option>
<option>
sram1
</option>
<option>
sram2
</option>
<option>
status
</option>
<option>
status.cdce_lock
</option>
<option>
status.fmc1_present
</option>
<option>
status.fmc2_present
</option>
<option>
status.fpga_reset
</option>
<option>
status.gbe_int
</option>
<option>
status.glib_sfp1_mod_abs
</option>
<option>
status.glib_sfp1_rxlos
</option>
<option>
status.glib_sfp1_status
</option>
<option>
status.glib_sfp1_txfault
</option>
<option>
status.glib_sfp2_mod_abs
</option>
<option>
status.glib_sfp2_rxlos
</option>
<option>
status.glib_sfp2_status
</option>
<option>
status.glib_sfp2_txfault
</option>
<option>
status.glib_sfp3_mod_abs
</option>
<option>
status.glib_sfp3_rxlos
</option>
<option>
status.glib_sfp3_status
</option>
<option>
status.glib_sfp3_txfault
</option>
<option>
status.glib_sfp4_mod_abs
</option>
<option>
status.glib_sfp4_rxlos
</option>
<option>
status.glib_sfp4_status
</option>
<option>
status.glib_sfp4_txfault
</option>
<option>
status.v6_cpld
</option>
<option>
sys_id
</option>
<option>
user_wb_ttc_fmc_regs
</option>
<option>
user_wb_ttc_fmc_regs.flags
</option>
<option>
user_wb_ttc_fmc_regs.flags.FSM1_flag
</option>
<option>
user_wb_ttc_fmc_regs.flags.FSM2_flag
</option>
<option>
user_wb_ttc_fmc_regs.flags.SRAM1_full
</option>
<option>
user_wb_ttc_fmc_regs.flags.SRAM2_full
</option>
<option>
user_wb_ttc_fmc_regs.i2c_command
</option>
<option>
user_wb_ttc_fmc_regs.i2c_reply
</option>
<option>
user_wb_ttc_fmc_regs.i2c_settings
</option>
<option>
user_wb_ttc_fmc_regs.pc_commands
</option>
<option>
user_wb_ttc_fmc_regs.pc_commands.ACQ_MODE
</option>
<option>
user_wb_ttc_fmc_regs.pc_commands.CBC_DATA_GENE
</option>
<option>
user_wb_ttc_fmc_regs.pc_commands.CBC_DATA_PACKET_NUMBER
</option>
<option>
user_wb_ttc_fmc_regs.pc_commands.INT_TRIGGER_FREQ
</option>
<option>
user_wb_ttc_fmc_regs.pc_commands.PC_config_ok
</option>
<option>
user_wb_ttc_fmc_regs.pc_commands.SPURIOUS_FRAME
</option>
<option>
user_wb_ttc_fmc_regs.pc_commands.SRAM1_end_readout
</option>
<option>
user_wb_ttc_fmc_regs.pc_commands.SRAM2_end_readout
</option>
<option>
user_wb_ttc_fmc_regs.pc_commands.TRIGGER_SEL
</option>
<option>
user_wb_ttc_fmc_regs.pc_commands2
</option>
<option>
user_wb_ttc_fmc_regs.pc_commands2.clock_shift
</option>
<option>
user_wb_ttc_fmc_regs.pc_commands2.negative_logic_CBC
</option>
<option>
user_wb_ttc_fmc_regs.pc_commands2.negative_logic_sTTS
</option>
<option>
user_wb_ttc_fmc_regs.status_flags
</option>
<option>
user_wb_ttc_fmc_regs.status_flags.FSM_sTTS_ctrl
</option>
<option>
user_wb_ttc_fmc_regs.status_flags.cdr_clk_locked
</option>
<option>
user_wb_ttc_fmc_regs.status_flags.cdr_lol
</option>
<option>
user_wb_ttc_fmc_regs.status_flags.cdr_los
</option>
<option>
user_wb_ttc_fmc_regs.status_flags.fifo1_full
</option>
<option>
user_wb_ttc_fmc_regs.status_flags.fifo2_full
</option>
<option>
user_wb_ttc_fmc_regs.status_flags.sTTS_code
</option>
<option>
user_wb_ttc_fmc_regs.status_flags.spurious_frame
</option>
<option>
user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl
</option>
<option>
user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s10
</option>
<option>
user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s11
</option>
<option>
user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s20
</option>
<option>
user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s21
</option>
<option>
user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s30
</option>
<option>
user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s31
</option>
<option>
user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s40
</option>
<option>
user_wb_ttc_fmc_regs.ttc_fmc_reg_ctrl.ttc_fmc_s41
</option>
<option>
user_wb_ttc_fmc_regs.user_board_id
</option>
<option>
user_wb_ttc_fmc_regs.user_sys_id
</option>
<option>
user_wb_ttc_fmc_regs.user_version
</option>
</select>
<br>Register Value<br><input id="id_regvalue" name="regvalue" type="text">
<br><input type="submit" value="Submit" />
</form>
