body {
 font-family:"trebuchet ms",sans-serif;
 font-size:90%;
 //background-image:url("/static/img/GLIBv3_small.jpg");
 //opacity: 0.9;
}
a:link{text-decoration:underline; color:blue;}
a:visited{text-decoration:none; color:purple;font-weight:bold;}
a:hover{text-decoration:underline; color:#C3D9E0;}
a:active{text-decoration:none; color:#00ff00;font-style:italic;}
a.retour:link{text-decoration:underline; color:blue;}
a.retour:visited{text-decoration:none; color:purple;font-weight:bold;}
a.retour:hover{text-decoration:underline; color:#C3D9E0;}
a.retour:active{text-decoration:none; color:#00ff00;font-style:italic;}
h1, h2, h3 {
	margin: 0;
	padding: 0;
	//text-transform: uppercase;
	font-weight: normal;
	color: #7D7764;
        background-color:silver;
        text-align:center;
        border-radius: 10px;
}
h1 {
	font-size: 2em;
        border: 1px solid #7D7764;
}

h2 {
	font-size: 2.8em;
	border: 0px solid #7D7764;
}

h3 {
	font-size: 1.6em;
        border: 0px solid #7D7764;
        background-color : lightblue;
}
#sign{
background-color:silver;
color: #7D7764;
}
div{
    margin-left: 15px ;
    padding-left: 5px ;
    padding-top: 5px;
    margin-top : 5px;
    border: 1px solid  #7D7764 ;
    border-left: 1px solid  #7D7764 ;
    color:  #7D7764 ;
    //text-align: center ;
    border-radius: 5px;
    //background-image:url("/static/img/glib.jpg");
    //background-size: cover;
    //opacity :0.5;
}

p{
    text-align: right ;
    text-indent: 1em ;
    line-height: 1em ;
    position absolute;
    margin-top :0px;
    padding-left:0px;
    margin-left:0px;
    margin-bottom:0px;
}

#masque{
    font-size: 10px;
    color: black;
    //background-color: #7D7764;
    text-align: right;
    text-decoration:none;
}
#masque:hover{
    font-size: 10px;
    color: PowderBlue;
    //background-color: #7D7764;
    align: right;
    text-decoration:underline;
}

#menu{
    font-size: 14px;
    color: #000F00 ;
    //background-color:lightblue;//#7D7764;
    text-decoration:none;
}
#menu:hover{
    font-size: 14px;
    color: #FFFFFF;
    background-color:lightblue;//#7D7764;
    text-decoration:underline;
}
#retour{
    font-size: 14px;
    color: #000F00;
    //background-color: lightblue;//#7D7764;
    text-decoration:none;
    text-align : right;
}
#retour:hover{
    font-size: 14px;
    color: #FFFFFF;
    background-color:lightblue;//#7D7764;
    text-decoration:underline;
    text-align : right;
}
#info{
    font-size: 14px;
    color: #7D7764;
    //background-color:#7D7764 ;
    text-decoration:none;
    border: 0px solid  #7D7764 ;
}
#error{
    font-size: 14px;
    color: red;
    border: 0px solid  #7D7764 ;
    //background-color:#7D7764 ;
    text-decoration:none;
    text-align:left;
    margin-top :0px;
    padding-left:0px;
    margin-left:0px;
    margin-bottom:0px;
}

#valid{
    font-size: 14px;
    color: green;
    border: 0px solid  #7D7764 ;
    //background-color:#7D7764 ;
    text-decoration:none;
}
#error_stat{
    font-size: 14px;
    color: red;
    border: 1px solid  #7D7764 ;
    //background-color:#7D7764 ;
    text-decoration:none;
}

#valid_stat{
    font-size: 14px;
    color: green;
    border: 1px solid  #7D7764 ;
    //background-color:#7D7764 ;
    text-decoration:none;
}
#value{
    font-size: 14px;
    color: blue;
    border: 0px solid  #7D7764 ;
    //background-color:#7D7764 ;
    text-decoration:none;
    text-align : left; 
}
#valueform{
    font-size: 14px;
    color: lime;
    border: 0px solid  #7D7764 ;
    //background-color:#7D7764 ;
    text-decoration:none;
    text-align : center; 
    font-weight:bold;
}
.picture{
    font-size: 14px;
    color: blue;
    border: 0px solid  #7D7764 ;
    //background-color:#7D7764 ;
    text-decoration:none;
    text-align : center;
    width:250px;
    height:200px 
}
.ejs_context_menuitems{padding-left:12px; padding-right:7px; }

table {
border: medium solid #000000;
background-color : lightblue;
//width: 33%;
}
td, th {
border: thin solid #6495ed;
//width: 33%;
padding: 5px;
text-align: center;
background-color: #ffffff;
}
form {
 margin: 0 auto 0 auto;
 margin-top:50px;
 margin-bottom:15px;
 //background-color:#7D7764;//#FAFAFA;
 background-image:url("/static/img/GLIBv3_verysmall.jpg");
 background-repeat:no-repeat;
 background-position:center center;
 opacity:0.9;
 padding:20px;
 width:320px;
 text-align:center;
 border-radius: 50px;
 border: 2px solid #7D7764 ;
 }
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #DF3F3F; 
 text-align:center;
}
legend {
 color:#DF3F3F;
 font-weight:bold;
text-align:center;color:white;
}
label {
 margin-top:10px;
 display:block;
font-weight:bold
 text-align:center;
}
name {
 margin-top:10px;
 display:block;
 font-weight:bold
 text-align:center;
}
label.inline {
 display:inline;
 margin-right:50px; 
 text-align:center;
font-weight:bold
}
input, textarea, select, option {
 background-color:#FFF3F3;
 text-align:center;
 font-weight:bold;
 opacity:1;
}
input, textarea, select {
  padding:3px;
  border:1px solid #F5C5C5;
  border-radius:5px;
  width:260px;
font-weight:bold;
  opacity:1;
  box-shadow:1px 1px 2px #83A697 inset;
}
select {
  margin-top:10px;
}
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
}
input[type=submit], input[type=reset] {
 width:170px;
 margin-left:5px;
 box-shadow:1px 1px 1px lime;//LightBlue;//#D83F3D;
 cursor:pointer;
 }
input:focus, textarea:focus {
 background-color:white;
 }
input[type=submit]:focus, input[type=reset]:focus {
 background-color:#FFF3F3;
}
input[type=submit]:hover, input[type=reset]:hover
{
background-color:lime;//LightBlue;//#83A697;
}
input[type=submit]:active, input[type=reset]:active {
 background-color:#FCDEDE;
 box-shadow:1px 1px 1px #D83F3D inset;
}
