<html><head><title>&micro;TCA & GLIB POWER MANAGEMENT</title><link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen"><style type="text/css">.ejs_context_menuitems{padding-left:12px; padding-right:7px; }</style>
<script language="JavaScript">
ejs_context_elemt = new Array;
ejs_context_elemt[0] = "ENVOI Ping|document.getElementById('formping').submit()";
ejs_context_elemt[1] = "Refresh|window.location.reload()";
ejs_context_elemt[2] = "PING SLOT1|document.getElementById('id_myip').value='192.168.0.161';document.getElementById('formping').submit()";
ejs_context_elemt[3] = "PING SLOT2|document.getElementById('id_myip').value='192.168.0.162';document.getElementById('formping').submit()";
ejs_context_elemt[4] = "PING SLOT3|document.getElementById('id_myip').value='192.168.0.163';document.getElementById('formping').submit()";
ejs_context_elemt[5] = "PING SLOT4|document.getElementById('id_myip').value='192.168.0.164';document.getElementById('formping').submit()";
ejs_context_elemt[6] = "PING SLOT5|document.getElementById('id_myip').value='192.168.0.165';document.getElementById('formping').submit()";
ejs_context_elemt[7] = "PING SLOT6|document.getElementById('id_myip').value='192.168.0.166';document.getElementById('formping').submit()";
ejs_context_elemt[8] = "PING SLOT7|document.getElementById('id_myip').value='192.168.0.167';document.getElementById('formping').submit()";
ejs_context_elemt[9] = "PING SLOT8|document.getElementById('id_myip').value='192.168.0.168';document.getElementById('formping').submit()";
ejs_context_elemt[10] = "PING SLOT9|document.getElementById('id_myip').value='192.168.0.169';document.getElementById('formping').submit()";
ejs_context_elemt[11] = "PING SLOT10|document.getElementById('id_myip').value='192.168.0.170';document.getElementById('formping').submit()";
ejs_context_elemt[12] = "PING SLOT11|document.getElementById('id_myip').value='192.168.0.171';document.getElementById('formping').submit()";
ejs_context_elemt[13] = "PING SLOT12|document.getElementById('id_myip').value='192.168.0.172';document.getElementById('formping').submit()";
ejs_context_elemt[14] = "ON|document.getElementById('id_regvalue').value='ON';document.getElementById('formpower').submit()";
ejs_context_elemt[15] = "OFF|document.getElementById('id_regvalue').value='OFF';document.getElementById('formpower').submit()";
function ejs_context_position(e)
	{
	ejs_context_x = (navigator.appName.substring(0,15) == "Net") ? e.pageX : event.x+document.body.scrollLeft-20;
	ejs_context_y = (navigator.appName.substring(0,15) == "Net") ? e.pageY : event.y+document.body.scrollTop-70;
	}

function ejs_context_open()
	{
	document.getElementById("ejs_context_box").style.top = ejs_context_y;
	document.getElementById("ejs_context_box").style.left = ejs_context_x;
	document.getElementById("ejs_context_ombre").style.top = ejs_context_y+2;
	document.getElementById("ejs_context_ombre").style.left = ejs_context_x+2;
	document.getElementById("ejs_context_box").style.visibility = "visible";
	document.getElementById("ejs_context_ombre").style.visibility = "visible";
	return(false);
	}

function ejs_context_close()
	{
	if (document.getElementById)
		{
		document.getElementById("ejs_context_box").style.top = 0;
		document.getElementById("ejs_context_box").style.left = 0;
		document.getElementById("ejs_context_ombre").style.top = 0;
		document.getElementById("ejs_context_ombre").style.left = 0;
		document.getElementById("ejs_context_box").style.visibility = "hidden";
		document.getElementById("ejs_context_ombre").style.visibility = "hidden";
		}
	}

function ejs_context_hl(mode, element)
	{
	if(mode == 1)
		{
		element.style.background = '#316AC5';
		element.style.color = '#ffffff';
		}
	else
		{
		element.style.background ='#ffffff';
		element.style.color = '#000000';
		}
	}

if(navigator.appName.substring(0,15) == "Net")
	document.captureEvents(Event.MOUSEMOVE);
</script></head><body><h1 style="margin-left: 0px; position: relative; width: 1000px; z-index: 5; " >&micro;TCA & GLIB POWER MANAGEMENT<br><input style="width:80px;position:absolute;top:10px ;left:800px;" type=submit value="Refresh" onClick="window.location.reload()"><a href="/glib" id="menu">GLIB register</a></h1><div style="border :0px;margin-left: 0px; position: relative; width: 1000px; z-index: 5; " id="body_layer">
              <div style="border:0px ;height: 285px; width: 468px;  height: 285px; left: 125px; position: absolute; top: 0px; width: 469px; z-index: 1;">
              <img src="/static/GLIB_POWER_MANAGEMENT_files/vadatech.jpg" alt="" style="border: none; height: 285px; width: 469px; " /></div>
	      <form id="formping" style="width:300px;position:absolute;  top:328px; left: 600px;" action="/glibpower" method="post">{% csrf_token %}
  	      <p id="valueform">Ping</p>
	      <input type="text" id="id_myip" name="myip" value="193.48.89.206"><br><input type="submit" value="PING"/></form> <div style="border:0px ;height: 161px;height: 157px; left: 125px; position: absolute; top: 66px; width: 28px; z-index: 1; ">
              <div style="border:0px ;position: relative; width: 28px; ">
                <img src="/static/GLIB_POWER_MANAGEMENT_files/shapeimage_1PM.png" alt="POWER MODULE" style="height: 161px; left: 0px; margin-left: -2px; margin-top: -2px; position: absolute; top: 0px; width: 32px; " />
              </div>
            </div>  <div style="border:0px ;height: 161px; left: 157px; position: absolute; top: 66px; width: 28px; z-index: 14;">
              <div  style="border:0px ;position: relative; width: 28px; ">
                <a href="#" onclick="javascript:document.getElementById('id_myip').value='192.168.0.161';document.getElementById('id_connect').value='1';document.getElementById('id_regvalue').value='ON';"><img src="/static/GLIB_POWER_MANAGEMENT_files/shapeimage_2.png" alt="1" style="height: 161px; left: 0px; margin-left: -2px; margin-top: -2px; position: absolute; top: 0px; width: 32px;"/></a> 
              </div>
            </div> <div style="border:0px ;height: 161px;left: 188px; position: absolute; top: 66px; width: 28px;  z-index:13; ">
              <div style="border:0px ;position: relative; width: 28px; ">
                <a href="#" onclick="javascript:document.getElementById('id_myip').value='192.168.0.162';document.getElementById('id_connect').value='2';document.getElementById('id_regvalue').value='ON';" ><img src="/static/GLIB_POWER_MANAGEMENT_files/shapeimage_3.png" alt="2" style="height: 161px; left: 0px; margin-left: -2px; margin-top: -2px; position: absolute; top: 0px; width: 32px; " /></a>
              </div>
            </div> <div style="border:0px ;height: 161px;height: 157px; left: 220px; position: absolute; top: 66px; width: 28px; z-index: 12; " class="tinyText shadow_3">
              <div style="border:0px ;position: relative; width: 28px; ">
                <a href="#" onclick="javascript:document.getElementById('id_myip').value='192.168.0.163';document.getElementById('id_connect').value='3';document.getElementById('id_regvalue').value='ON';" ><img src="/static/GLIB_POWER_MANAGEMENT_files/shapeimage_4.png" alt="3" style="height: 161px; left: 0px; margin-left: -2px; margin-top: -2px; position: absolute; top: 0px; width: 32px; " />
              </a></div>
            </div><div style="border:0px ;height: 161px;height: 157px; left: 252px; position: absolute; top: 66px; width: 28px; z-index: 11; " class="tinyText shadow_4">
              <div style="border:0px ;position: relative; width: 28px; ">
                <a href="#" onclick="javascript:document.getElementById('id_myip').value='192.168.0.164';document.getElementById('id_connect').value='4';document.getElementById('id_regvalue').value='ON';" ><img src="/static/GLIB_POWER_MANAGEMENT_files/shapeimage_5.png" alt="4" style="height: 161px; left: 0px; margin-left: -2px; margin-top: -2px; position: absolute; top: 0px; width: 32px; " />
             </a></div>
            </div><div style="border:0px ;height: 161px;height: 157px; left: 284px; position: absolute; top: 66px; width: 28px; z-index: 10; " class="tinyText shadow_5">
              <div style="border:0px ;position: relative; width: 28px; ">
                <a href="#" onclick="javascript:document.getElementById('id_myip').value='192.168.0.165';document.getElementById('id_connect').value='5';document.getElementById('id_regvalue').value='ON';" ><img src="/static/GLIB_POWER_MANAGEMENT_files/shapeimage_6.png" alt="5" style="height: 161px; left: 0px; margin-left: -2px; margin-top: -2px; position: absolute; top: 0px; width: 32px; " />
             </a></div>
            </div><div style="border:0px ;height: 161px;height: 157px; left: 316px; position: absolute; top: 66px; width: 28px; z-index: 9; " class="tinyText shadow_6">
              <div style="border:0px ;position: relative; width: 28px; ">
                <a href="#" onclick="javascript:document.getElementById('id_myip').value=document.getElementById('id_natmch').value;" ><img src="/static/GLIB_POWER_MANAGEMENT_files/shapeimage_7.png" alt="NAT MCH MicroCarrierHub" style="height: 161px; left: 0px; margin-left: -2px; margin-top: -2px; position: absolute; top: 0px; width: 32px; " /></a>
              </div>
            </div><div style="border:0px ;height: 161px;height: 157px; left: 348px; position: absolute; top: 66px; width: 28px; z-index: 8; " class="tinyText shadow_7">
              <div style="border:0px ;position: relative; width: 28px; ">
                <a href="#" onclick="javascript:document.getElementById('id_myip').value='192.168.0.166';document.getElementById('id_connect').value='6';document.getElementById('id_regvalue').value='ON';" ><img src="/static/GLIB_POWER_MANAGEMENT_files/shapeimage_8.png" alt="6" style="height: 161px; left: 0px; margin-left: -2px; margin-top: -2px; position: absolute; top: 0px; width: 32px; " />
              </a></div>
            </div><div style="border:0px ;height: 161px;height: 157px; left: 380px; position: absolute; top: 66px; width: 28px; z-index: 7; " class="tinyText shadow_8">
              <div style="border:0px ;position: relative; width: 28px; ">
                <a href="#" onclick="javascript:document.getElementById('id_myip').value='192.168.0.167';document.getElementById('id_connect').value='7';document.getElementById('id_regvalue').value='ON';" ><img src="/static/GLIB_POWER_MANAGEMENT_files/shapeimage_9.png" alt="7" style="height: 161px; left: 0px; margin-left: -2px; margin-top: -2px; position: absolute; top: 0px; width: 32px; " />
              </a></div>
            </div><div style="border:0px ;height: 161px;height: 157px; left: 412px; position: absolute; top: 66px; width: 28px; z-index: 6; " class="tinyText shadow_9">
              <div style="border:0px ;position: relative; width: 28px; ">
                <a href="#" onclick="javascript:document.getElementById('id_myip').value='192.168.0.168';document.getElementById('id_connect').value='8';document.getElementById('id_regvalue').value='ON';" ><img src="/static/GLIB_POWER_MANAGEMENT_files/shapeimage_10.png" alt="8" style="height: 161px; left: 0px; margin-left: -2px; margin-top: -2px; position: absolute; top: 0px; width: 32px; " />
              </a></div>
            </div><div style="border:0px ;height: 161px;height: 157px; left: 444px; position: absolute; top: 66px; width: 28px; z-index: 5; " class="tinyText shadow_10">
              <div style="border:0px ;position: relative; width: 28px; ">
                <a href="#" onclick="javascript:document.getElementById('id_myip').value='192.168.0.169';document.getElementById('id_connect').value='9';document.getElementById('id_regvalue').value='ON';" ><img src="/static/GLIB_POWER_MANAGEMENT_files/shapeimage_11.png" alt="9" style="height: 161px; left: 0px; margin-left: -2px; margin-top: -2px; position: absolute; top: 0px; width: 32px; " />
              </a></div>
            </div><div style="border:0px ;height: 162px;height: 157px; left: 476px; position: absolute; top: 66px; width: 34px; z-index: 4; " class="tinyText shadow_11">
              <div style="border:0px ;position: relative; width: 34px; ">
                <a href="#" onclick="javascript:document.getElementById('id_myip').value='192.168.0.170';document.getElementById('id_connect').value='10';document.getElementById('id_regvalue').value='ON';" ><img src="/static/GLIB_POWER_MANAGEMENT_files/shapeimage_12.png" alt="10" style="height: 162px; left: 0px; margin-left: -2px; margin-top: -2px; position: absolute; top: 0px; width: 38px; " />
              </a></div>
            </div><div style="border:0px ;height: 161px;height: 157px; left: 508px; position: absolute; top: 66px; width: 34px; z-index: 3; " class="tinyText shadow_12">
              <div style="border:0px ;position: relative; width: 34px; ">
                <a href="#" onclick="javascript:document.getElementById('id_myip').value='192.168.0.171';document.getElementById('id_connect').value='11';document.getElementById('id_regvalue').value='ON';" ><img src="/static/GLIB_POWER_MANAGEMENT_files/shapeimage_13.png" alt="11" style="height: 161px; left: 0px; margin-left: -2px; margin-top: -2px; position: absolute; top: 0px; width: 38px; " />
              </a></div>
            </div><div style="border:0px ;height: 161px;height: 157px; left: 540px; position: absolute; top: 66px; width: 33px; z-index: 2; " class="tinyText shadow_13">
              <div style="border:0px ;position: relative; width: 33px; ">
                <a href="#" onclick="javascript:document.getElementById('id_myip').value='192.168.0.172';document.getElementById('id_connect').value='12';document.getElementById('id_regvalue').value='ON';" ><img src="/static/GLIB_POWER_MANAGEMENT_files/shapeimage_14.png" alt="12" style="height: 161px; left: 0px; margin-left: -2px; margin-top: -2px; position: absolute; top: 0px; width: 37px; " />
              </a></div>
            </div><p>MACBOOKpro ethernet connected IP:193.48.89.206</p> <div style="border:0px ;height: 161px;height: 157px; left: 125px; position: absolute; top: 66px; width: 28px; z-index: 1; ">
              <div style="border:0px ;position: relative; width: 28px; ">
                <img src="/static/GLIB_POWER_MANAGEMENT_files/shapeimage_1PM.png" alt="POWER MODULE" style="height: 161px; left: 0px; margin-left: -2px; margin-top: -2px; position: absolute; top: 0px; width: 32px; " />
              </div>
            </div> <div id=ejs_context_box style="z-index:500;position:absolute;width:200px; border:1px solid #9D9DA1; background-color:#ffffff; font-family:Microsoft sans serif; font-size:12px; cursor:default; visibility:hidden;padding:3"><script language="JavaScript">
ejs_context_ombre_txt = '';
for(a=0;a<ejs_context_elemt.length;a++)
	{
	if(ejs_context_elemt[a].indexOf("|") > 0)
		{
		splited = new Array;
		splited = ejs_context_elemt[a].split("|");
		document.write('<div class="ejs_context_menuitems" onClick="'+splited[1]+'" onMouseOver="ejs_context_hl(1, this)" onMouseOut="ejs_context_hl(0, this)">'+splited[0]+'</div>');
		ejs_context_ombre_txt += '<div class="ejs_context_menuitems">'+splited[0]+'</div>';
		}
	else
		{
		document.write('<div class="ejs_context_menuitems" onClick="'+splited[1]+'" onMouseOver="ejs_context_hl(1, this)" onMouseOut="ejs_context_hl(0, this)"><hr width="195" size="1" color="9D9DA1" /></div>');
		ejs_context_ombre_txt += '<div class="ejs_context_menuitems"><hr width="195" size="1" color="9D9DA1" /></div>';
		}
	}
document.write('</div><div id=ejs_context_ombre style="z-index:400;position:absolute;width:200px; border:1px solid #9D9DA1; background-color:#9D9DA1; font-family:Microsoft sans serif; font-size:12px; color:#9D9DA1 ;cursor:default; visibility:hidden;padding:3">'+ejs_context_ombre_txt+'</div>');

// EVENEMENTS
document.onmousemove = ejs_context_position;
document.oncontextmenu = ejs_context_open;
document.onclick = ejs_context_close;
</script><div style="border:0px; width: 400px;  height: 285px; left: 116px; position: absolute; top: 235px; width: 468px; z-index: 1;padding-top: 15px;marging-bottom:0px;"><form id="formpower" style="width:300px;" action="/glibpower" method="post">{% csrf_token %}<div id="valueform">NAT-MCH IP</div><input id="id_natmch" name="natmch" type="text" value="192.168.0.41"><div id="valueform">Connection SLOT</div><select id="id_connect" name="connect" onChange="combo(this,'id_connect')"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option></select><div id="valueform">Power choice</div><select id="id_regvalue" name="regvalue" onChange="combo(this,'id_regvalue')"><option>ON</option><option>OFF</option><input type="submit" value="SENDtoGLIB"/><input type="reset" value="Reset ALL"/></p></form></div><div id='sign' align='center' style="position:absolute; top:568px; width:1000px ; margin-left: 0px ;padding-left: 0px ;" >This file was created and modified by pingnetwork2html.py: <font color='red'>10/12/13 16:53</font><br>This script was created in 2013 by J.HOSSELET IPHC/CNRS/IN2P3</font></div></div></body></html>